@import 'variables';
@import 'static';

.static {
    position: sticky;
    top: 0;
    background: var(--body);

    header {
        width: 100%;
        text-align: center;
        padding: 20px 0;

        .titulos {
            h1 {
                font-weight: normal;
                font-size: 40px;
                margin-bottom: 10px;
                color: var(--negro);
            }

            h2 {
                font-weight: 300;
                font-size: 24px;
                line-height: 24px;
                color: #888;
            }
        }

        .wrapper-color-switch {
            width: 87%;
            margin: auto;
            display: flex;
            justify-content: right;

            input {
                display: flex;
                justify-content: center;
            }
        }
    }

    nav {
        width: 100%;
        display: flex;
        margin-bottom: 40px;

        .btn-menu {
            display: inline-block;
            width: 45px;
            height: 45px;
            color: var(--negro);
            border: 1px solid var(--negro);
            background: transparent;
            background-size: cover;
            cursor: pointer;
            font-size: 20px;
            text-align: center;
            margin: 0 10px;
            transition: .3s ease all;

            :hover {
                filter: invert(40%);
            }
        }

        .banner {
            display: inline-block;
            width: 100%;
            background: url(../img/otros/banner.jpg);
            background-size: cover;
            text-align: center;
            height: 45px;
            line-height: 45px;
            font-size: 24px;
            font-weight: 300;
            color: #fff;
        }
    }
}

.separador {
    margin: 80px auto;
    text-align: center;

    span {
        font-size: 2rem;
        color: var(--negro);
    }
}

.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-row-gap: 60px;

    .producto {
        max-width: 260px;
        margin: auto;
        background: var(--blanco);
        box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);

        img {
            vertical-align: top;
            width: 100%;
        }

        span {
            display: block;
            text-align: center;
            color: var(--negro);
        }

        .nombre {
            margin: 20px auto;
        }

        .precio {
            margin: 10px auto;
        }

        button {
            width: 100%;
            line-height: 40px;
            border: none;
            background: var(--negro);
            color: var(--blanco);

            &:active {
                color: green;
            }
        }
    }
}