@import 'variables';

* {
    font-family: var(--font1);
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: var(--b1);
    font-size: 14px;
    color: var(--negro);
    margin: 0;
    padding: 0;
}

.dark {
    --b1: #111;
    --b2: #f9f9f9;
    --nav: #2b2929;
    --blanco: #000;
    --negro: #fff;
    --sombraOscura: rgba(250, 250, 250, 0.5);
    --sombraClarita: rgba(250, 250, 250, 0.2);
}