@import 'variables';

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}

::-webkit-scrollbar-track {
    background: inherit;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
    margin: 5px;
}

* {
    padding: 0;
	margin: 0;
	box-sizing:border-box;
	font-family: 'Roboto Slab', serif;

    &::selection {
        background-color: rgba(112, 112, 112, .6);
    }
}

body {
    width: 70%;
    margin: auto;
	background: var(--body);
}

a {
    text-decoration: none;
}

/* ----- Pushbar: General ----- */
.pushbar {
	background-color: #111;
	padding: 20px;
}

.pushbar .btn-cerrar.der {
	text-align: right;
}

.pushbar .btn-cerrar.izq {
	text-align: left;
}

.pushbar .btn-cerrar button {
	background-color: transparent;
	color: #808080;
	border: none;
	font-size: 20px;
	cursor: pointer;
}

.pushbar .btn-cerrar button:hover {
	color: #fff;
}

/* ----- Pushbar: Menu ----- */
.menu {
    display: flex;
    flex-direction: column;
    
    a {
        display: block;
        color: #aaaaaa;
        padding: 20px 0;
        border-bottom: 1px solid rgba(112, 112, 112, .6);
        font-weight: 300;
        font-size: 18px;
        transition: .3s ease color;
    
        &:hover {
            color: #fff;
        }
    }
}

/* ----- Pushbar: Carrito de Compras ----- */
.carrito {
	width: 100%;

    .titulo {
        display: block;
        text-align: center;
        font-size: 20px;
        color: #aaaaaa;
        border-bottom: 1px solid rgba(112,112,112,.60);
    }

    .item {
        display: flex;
        justify-content: space-between;
    
        padding: 20px 0;
        border-bottom: 1px solid rgba(112,112,112,.60);

        img {
            width: 120px;
            height: 120px;
        }

        .textos {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: right;

            .nombre-item {
                color: #aaaaaa;
            }

            .precio-producto {
                color: #fff;
            }
        }
    }

    .total {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        .precio-total {
            color: #fff;
        }
    }
}

/* ----- Pushbar: Productos ----- */
.productos { 
    .items {
        display: flex;
        justify-content: space-around;

        .item {
            display: flex;
            flex-direction: column;

            span {
                text-align: center;
            }

            a {
                color: #aaaaaa;

                &:hover {
                    color: #fff;
                }
            }
        }
    }
}

/* ----- Pushbar: Newsletter ----- */
.newsletter {
	height: 250px;

    div {
        h3{
            color: #aaaaaa;
            text-align: center;
        }

        form {
            display: flex;
            justify-content: center;
            margin-top: 20px;

            input {
                margin: 0 10px;
                padding: 10px;
                background: transparent;
                color: #fff;
                border: 1px solid #333;
                font-family: sans-serif;
                outline: none;

                &::placeholder {
                    font-family: 'Roboto Slab', serif;
                    color: #999;
                }
            }
        }

        .enviar-form {
            display: block;
            width: 200px;
            margin: 20px auto 0 auto;
            background-color: transparent;
            border: 1px solid #fff;
            color: #fff;
            padding: 10px;
        }
    }
}

/* Dark Mode */

.dark-mode {
    --body: #222;
    --background: url(../img/otros/background1.jpg) cover no-repeat;
    --caja: #111;
    --blanco: #333;
    --negro: #f3f3f3;
}

.color-switch::before {
    content: "Light Mode On";
    width: 20ch;
    margin-left: 10px;
    color: var(--negro);
    cursor: pointer;
}

#input-color-switch:checked~.color-switch::before {
    content: "Dark Mode On";
}

//input oculto
#input-color-switch {
    margin-left: 50px;
    display: none;
    cursor: pointer;
}