:root {
    --body: #f9f9f9;
    --background: url(../img/otros/background2.jpg) contain no-repeat;
    --caja: #fff;
    --sombraCaja: rgba(0, 0, 0, 0.8);
    --sombraTexto: rgba(0, 0, 0, 0.2);
    --blanco: #fff;
    --negro: #000;
}