@font-face {
    src: url("../fonts/DIN-Next-LT-Pro-Regular.ttf");
    font-family: "din";
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
    background: #999;
}
::-webkit-scrollbar-track {
    background: inherit;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
    margin: 5px 0;
}

:root {
    --body: #f3f3f3;
    --nav: rgb(243, 243, 243);
    --tomate: #f54;
    --caja: #fff;
    --sombraCaja: rgba(0,0,0, 0.8);
    --sombraTexto: rgba(0,0,0, 0.2);
    --filtroImg: none;
    --blanco: #fff;
    --negro: #000;
}

* {
    font-family: "din";
    scroll-behavior: smooth;

    &::selection {
        background-color: var(--sombraTexto);
    }
}

body {
    margin: 0;
    background-color: var(--body);

    nav {
        width: 99%;
        margin: auto;
        position: sticky;
        top: 0;
        z-index: 9;
        background: var(--nav);
        padding: 5px;

        display: grid;
        grid-template-areas: "logo items iconos";
        grid-template-columns: 3fr 2fr 2fr;
        grid-template-rows: 7fr;

        .nav-logo {
            grid-area: logo;

            img {
                margin-left: 80px;
                width: 170px;
            }
        }

        .nav-items {
            grid-area: items;

            ul {
                padding: 0;
                display: flex;
                justify-content: space-around;
                list-style: none;

                li {
                    a {
                        text-decoration: none;
                        color: var(--negro);
                    }

                    &:hover {
                        margin-top: 1px;
                        text-decoration: underline;
                        transition: ease .3s;
                    }
                }
            }
        }

        .nav-iconos {
            grid-area: iconos;
            margin: auto;
            display: flex;
            justify-content: space-around;

            .cart-user {

                i {
                    font-size: 1.2rem;
                    margin-right: 5px;
                    color: var(--negro);
                    cursor: pointer;

                    &:hover {
                        filter: opacity(50%);
                        cursor: pointer;
                    }
                }
            }

            .wrapper-color-switch {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    main {
        aside {
            width: 100%;
            margin: auto;

            .slider {
                margin: 10px;
                overflow: hidden;
                border-radius: 8px;

                figure {
                    position: relative;
                    width: 500%;
                    margin: 0;
                    left: 0;
                    text-align: left;
                    font-size: 0;
                    animation: 15s slidy infinite;

                    @keyframes slidy {
                        0% {
                            left: 0%;
                        }
                        20% {
                            left: 0%;
                        }
                        25% {
                            left: -100%;
                        }
                        45% {
                            left: -100%;
                        }
                        50% {
                            left: -200%;
                        }
                        70% {
                            left: -200%;
                        }
                        75% {
                            left: -300%;
                        }
                        95% {
                            left: -300%;
                        }
                        100% {
                            left: -400%;
                        }
                    }

                    img {
                        width: 20%;
                        float: left;
                    }
                }
            }
        }

        h1 {
            text-align: center;
            color: var(--negro);
        }

        .marcas {
            width: 90%;
            margin: 50px auto;
            display: flex;
            justify-content: space-around;

            .marca-filtro {

                img {
                    filter: var(--filtroImg);

                    &:hover {
                        transform: translateY(-10px);
                        transition: ease .3s;
                    }
                }
            }
        }
        
        h2 {
            margin-top: 100px;
            text-align: center;
            color: var(--negro);
        }

        .productos {
            width: 70%;
            margin: 10px auto 60px auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(1, 1fr);
            grid-row-gap: 30px;

            .producto {
                display: flex;
                flex-direction: column;
                width: 280px;
                height: 550px;
                margin: auto;
                background-color: var(--blanco);
                border: 0.5px solid transparent ;
                border-radius: 8px;
                box-shadow: 0px 1px 15px -2px var(--sombraCaja);
                
                img {
                    width: 90%;
                    display: block;
                    margin: auto;
                    border-radius: 8px 8px 0 0;
                }

                .descripcion {
                    display: flex;
                    flex-direction: column;
                    margin: 5px 15px;

                    img {
                        width: 40px;
                        border-radius: 8px;
                        display: flex;
                        justify-content: left;
                        filter: var(--filtroImg);
                    }

                    span {
                        font-size: 1.2rem;
                        color: var(--negro);
                        cursor: default;
                    }

                    .genero {
                        margin-top: 20px;
                    }

                    .precio {
                        font-size: 1.6rem;
                        font-weight: bold;

                        &::before {
                            content: "$";
                        }
                    }

                    select {
                        width: 100px;
                        background-color: var(--blanco);
                        color: var(--negro);
                        outline: none;
                        font-size: 1rem;

                        option {
                            background-color: var(--blanco);
                            color: var(--negro);
                        }
                    }

                    .envio {
                        font-size: .9rem;
                        color: rgb(0, 167, 69);
                    }

                    button {
                        display: block;
                        width: 180px;
                        margin: 20px 0;
                        border-radius: 0;
                        background: transparent;
                        box-shadow: var(--sombraCaja);
                        color: var(--negro);
                        font-size: 1.05rem;
                        padding: 5px;
                        cursor: pointer;

                        &:hover {
                            background-color: transparent;
                            transition: ease .2s;
                        }
                    }
                }

                &:hover {
                    border: 0.5px solid var(--sombraTexto);
                    box-shadow: none;
                }
            }
        }
    }
}

.dark-mode {
    --body: #222;
    --nav: rgb(34, 34, 34);
    --caja: #111;
    --filtroImg: invert(1);
    --blanco: #333;
    --negro: #f3f3f3;
}

.color-switch::before {
    content: "Light Mode On";
    width: 12ch;
    display: inline-block;
    margin-left: 10px;
    color: var(--negro);
    cursor: pointer;
}

#input-color-switch:checked~.color-switch::before {
    content: "Dark Mode On";
}

//input oculto
#input-color-switch {
    margin-left: 50px;
    cursor: pointer;
}