@font-face {
  src: url("../fonts/DIN-Next-LT-Pro-Regular.ttf");
  font-family: "din";
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

::-webkit-scrollbar-track {
  background: inherit;
  -webkit-box-shadow: inset 0px 0px 0px 0px #F0F0F0;
          box-shadow: inset 0px 0px 0px 0px #F0F0F0;
  margin: 5px 0;
}

:root {
  --body: #f3f3f3;
  --nav: rgb(243, 243, 243);
  --tomate: #f54;
  --caja: #fff;
  --sombraCaja: rgba(0,0,0, 0.8);
  --sombraTexto: rgba(0,0,0, 0.2);
  --filtroImg: none;
  --blanco: #fff;
  --negro: #000;
}

* {
  font-family: "din";
  scroll-behavior: smooth;
}

*::-moz-selection {
  background-color: var(--sombraTexto);
}

*::selection {
  background-color: var(--sombraTexto);
}

body {
  margin: 0;
  background-color: var(--body);
}

body nav {
  width: 99%;
  margin: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
  background: var(--nav);
  padding: 5px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "logo items iconos";
  -ms-grid-columns: 3fr 2fr 2fr;
      grid-template-columns: 3fr 2fr 2fr;
  -ms-grid-rows: 7fr;
      grid-template-rows: 7fr;
}

body nav .nav-logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

body nav .nav-logo img {
  margin-left: 80px;
  width: 170px;
}

body nav .nav-items {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: items;
}

body nav .nav-items ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

body nav .nav-items ul li a {
  text-decoration: none;
  color: var(--negro);
}

body nav .nav-items ul li:hover {
  margin-top: 1px;
  text-decoration: underline;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

body nav .nav-iconos {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: iconos;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body nav .nav-iconos .cart-user i {
  font-size: 1.2rem;
  margin-right: 5px;
  color: var(--negro);
  cursor: pointer;
}

body nav .nav-iconos .cart-user i:hover {
  -webkit-filter: opacity(50%);
          filter: opacity(50%);
  cursor: pointer;
}

body nav .nav-iconos .wrapper-color-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main aside {
  width: 100%;
  margin: auto;
}

body main aside .slider {
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
}

body main aside .slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  -webkit-animation: 15s slidy infinite;
          animation: 15s slidy infinite;
}

@-webkit-keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

body main aside .slider figure img {
  width: 20%;
  float: left;
}

body main h1 {
  text-align: center;
  color: var(--negro);
}

body main .marcas {
  width: 90%;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body main .marcas .marca-filtro img {
  -webkit-filter: var(--filtroImg);
          filter: var(--filtroImg);
}

body main .marcas .marca-filtro img:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

body main h2 {
  margin-top: 100px;
  text-align: center;
  color: var(--negro);
}

body main .productos {
  width: 70%;
  margin: 10px auto 60px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  grid-row-gap: 30px;
}

body main .productos .producto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 280px;
  height: 550px;
  margin: auto;
  background-color: var(--blanco);
  border: 0.5px solid transparent;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 15px -2px var(--sombraCaja);
          box-shadow: 0px 1px 15px -2px var(--sombraCaja);
}

body main .productos .producto img {
  width: 90%;
  display: block;
  margin: auto;
  border-radius: 8px 8px 0 0;
}

body main .productos .producto .descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 15px;
}

body main .productos .producto .descripcion img {
  width: 40px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-filter: var(--filtroImg);
          filter: var(--filtroImg);
}

body main .productos .producto .descripcion span {
  font-size: 1.2rem;
  color: var(--negro);
  cursor: default;
}

body main .productos .producto .descripcion .genero {
  margin-top: 20px;
}

body main .productos .producto .descripcion .precio {
  font-size: 1.6rem;
  font-weight: bold;
}

body main .productos .producto .descripcion .precio::before {
  content: "$";
}

body main .productos .producto .descripcion select {
  width: 100px;
  background-color: var(--blanco);
  color: var(--negro);
  outline: none;
  font-size: 1rem;
}

body main .productos .producto .descripcion select option {
  background-color: var(--blanco);
  color: var(--negro);
}

body main .productos .producto .descripcion .envio {
  font-size: .9rem;
  color: #00a745;
}

body main .productos .producto .descripcion button {
  display: block;
  width: 180px;
  margin: 20px 0;
  border-radius: 0;
  background: transparent;
  -webkit-box-shadow: var(--sombraCaja);
          box-shadow: var(--sombraCaja);
  color: var(--negro);
  font-size: 1.05rem;
  padding: 5px;
  cursor: pointer;
}

body main .productos .producto .descripcion button:hover {
  background-color: transparent;
  -webkit-transition: ease .2s;
  transition: ease .2s;
}

body main .productos .producto:hover {
  border: 0.5px solid var(--sombraTexto);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.dark-mode {
  --body: #222;
  --nav: rgb(34, 34, 34);
  --caja: #111;
  --filtroImg: invert(1);
  --blanco: #333;
  --negro: #f3f3f3;
}

.color-switch::before {
  content: "Light Mode On";
  width: 12ch;
  display: inline-block;
  margin-left: 10px;
  color: var(--negro);
  cursor: pointer;
}

#input-color-switch:checked ~ .color-switch::before {
  content: "Dark Mode On";
}

#input-color-switch {
  margin-left: 50px;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */